

.as{
    background-image: url(plag1.jpg); 
    background-size: cover;
    background-position: 100%;
   height: 500px;
   width: 60%;
   color: black;
   margin-right: 120px;
   margin-top: 70px;
   font-size: 20px;
}
